.classpath
.metadata
.project
.settings
*.swp
/.idea
*.iml
/app/ImageJ.app/
nb-configuration.xml
/scripts/
*.sh
/target/classes
/target/failsafe-reports
/target/generated-sources
/target/maven-archiver
/target/*.jar
LeapSDK
